<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="DataFolderName" value="Data"/>
        <add key="EnterProjUsersFileName" value="eP_users.txt"/>
        <add key="VistwayUsersFileName" value="v_users.txt"/>
        <add key="SpecialUsersFileName" value="special_users.txt"/>
        <add key="SpecialGroupsFileName" value="special_groups.txt"/>
        <add key="CountriesFileName" value="countries.txt"/>
        <add key="GroupsFileName" value="groups.txt"/>
        <add key="ResultFileName" value="UsersToImport.csv"/>
        <add key="LogFileName" value="Log.txt"/>
    </appSettings>
</configuration>